@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    font-family: "Ubuntu", sans-serif;
    background-color: rgb(16, 0, 72); 
}

header{
    margin-top: -8px;
    margin-left: -8px;
    padding: 8.1px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background: linear-gradient(270deg, #03272e, #1c6575);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.templateform{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.informasiAkun{
    display: flex;
    align-items: center;
    gap: 30px;
}

.templateChat{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.informasiChat{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-container{
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.ultipe{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.chat-list{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.chat-message{
    color: white;
}

.time-message{
    color: rgb(222, 251, 2);
    font-size: 8px;
}

.displayinline{
    display: inline;
}

.user1-message{
    color: rgb(246, 92, 92);
}

.user2-message{
    color: rgb(95, 254, 90);
}

.foto-profil{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.margin button{
    margin-top: 20px;
    justify-content: center;
    width: 100%;
}

.profil-foto{
    align-content: center;
    margin: 15px;
    width: 225px;
    height: 225px;
    border-radius: 25%;
    object-fit: cover;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.penengahX{
    display: flex;
    justify-content: center;
}

.foto-profil:hover{
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.9);
}

.foto-profil:active{
    box-shadow: 0px 0px 40px rgb(255, 255, 255);
}

.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.mainLelang{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

.register{
    display: flex;
    gap: 150px;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    border-radius: 25px;
    background: linear-gradient(270deg, #00082d, #483d75);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

.transaksiLayout{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;
    width: 100%;
    height: auto;
    border-radius: 25px;
    background: linear-gradient(270deg, #00082d, #483d75);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

.tampilanBarang{
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    border-radius: 25px;
    background: linear-gradient(270deg, #00082d, #483d75);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.logo{
    width: 75px;
    height: auto;
}

.logo-text{
    font-size: 30px;
    color: white;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.784);
}

.chat{
    font-size: 18px;
    color: white;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.784);
    text-decoration: none;
}

.menu{
    margin: 5px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu:hover{
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
}

.menu:active{
    box-shadow: 0px 0px 50px rgb(255, 255, 255);
    text-shadow: 0px 0px 50px rgb(255, 255, 255);
}

.judul {
    align-content: center;
    text-decoration: solid;
    margin-left: 100px;
    font-size: 30px;
    color: rgb(216, 216, 216);
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.784);
}

.tengah {
    text-align: center;
}

.judulInformasiAkun {
    text-decoration: solid;
    font-size: 30px;
    color: rgb(216, 216, 216);
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.784);
}

.informasiTransaksi {
    display: flex;
    justify-content: center;
    text-decoration: solid;
    font-size: 30px;
    color: rgb(216, 216, 216);
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.784);
}

.labelFoto{
    font-size: 16px;
    margin-bottom: -15px;
    color: white;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.784);
}

.form{
    display: flex; 
    flex-direction: column; 
    row-gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.formInformasiAkun{
    display: flex; 
    flex-direction: column; 
    row-gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.transaksi{
    display: flex; 
    flex-direction: column; 
    row-gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.submitBayar{
    border-color: none;
    border: none;
    margin-right: 20px;
    width: 250px;
    height: 25px;
    border-radius: 15px;
    background-color: rgb(48, 39, 39);
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, border-radius 0.3s, margin-left 0.3s, margin-top 0.3s;
}

.input{
    border-color: none;
    border: none;
    width: 350px;
    height: 25px;
    border-radius: 15px;
    background-color: rgb(48, 39, 39);
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, border-radius 0.3s, margin-left 0.3s, margin-top 0.3s;
}

.input:hover{
    background-color: white;
    color: rgb(48, 39, 39);
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.4);
}

.input:active{
    box-shadow: none;
}

.input:focus{
    background-color: white;
    color: rgb(48, 39, 39);
    outline: none;
}

.pTransaksi{
    border-color: none;
    border: none;
    width: 350px;
    min-height: 25px;
    border-radius: 15px;
    background-color: rgb(48, 39, 39);
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, border-radius 0.3s, margin-left 0.3s, margin-top 0.3s;
}

.pTransaksi:hover{
    background-color: white;
    color: rgb(48, 39, 39);
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.4);
}

.pTransaksi:active{
    box-shadow: none;
}

.pTransaksi:focus{
    background-color: white;
    color: rgb(48, 39, 39);
    outline: none;
}

.inputoption{
    border-color: none;
    border: none;
    width: 370px;
    height: 45px;
    border-radius: 15px;
    background-color: rgb(48, 39, 39);
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, border-radius 0.3s, margin-left 0.3s, margin-top 0.3s;
}

.inputoption:hover{
    background-color: white;
    color: rgb(48, 39, 39);
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.4);
}

.inputoption:active{
    box-shadow: none;
}

.inputoption:focus{
    background-color: white;
    color: rgb(48, 39, 39);
    outline: none;
}


.button{
    border-color: none;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(48, 39, 39);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, border-radius 0.3s, margin-left 0.3s, margin-top 0.3s;
}

.button:hover{
    background-color: white;
    color: rgb(48, 39, 39);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.9);
}

.button:active{
    box-shadow: 0px 0px 40px rgb(255, 255, 255);
}




.buttonA{
    display: flex;
    border-color: none;
    text-decoration: none;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: rgb(48, 39, 39);
    color: white;
    width: 81px;
    height: 20px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, border-radius 0.3s, margin-left 0.3s, margin-top 0.3s;
}

.buttonA:hover{
    background-color: white;
    color: rgb(48, 39, 39);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.9);
}

.buttonA:active{
    box-shadow: 0px 0px 40px rgb(255, 255, 255);
}

.pilihan{
    display: flex;
    justify-content: space-between;
}

.itembungkus{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.itempart{
    background-color: rgb(48, 39, 39);
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 0 10px rgb(184, 169, 169);
    display: flex;
    align-items: center;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
}

#barang {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    vertical-align: middle;
  }
  
#barang td, #barang th {
    border: 1px solid #cffdf2;
    padding: 8px;
  }
  
#barang tr:nth-child(even){
    background-color: #302b72;
}
  
#barang tr:hover {
    background-color: #add7dc;
    color: black;
}
  
#barang th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: white;
}

#barang thead{
    background: linear-gradient(270deg, #032f42, #70649e, #032f42);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

#barang tr{
    color: white;
    text-decoration: none;
}

.gambarBarang{
    width: 100px;
    height: 100px;
    object-fit: cover;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.gambar-foto{
    align-content: center;
    width: 500px;
    height: 500px;
    border-radius: 25%;
    object-fit: cover;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.informasiBarang{
    display: flex;
    padding: 25px;
    gap: 25px;
}

.sesi-bid{
    display: flex;
    justify-content: center;
}

#lihatBarang {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 800px;
    text-align: center;
    vertical-align: middle;
  }
  
#lihatBarang td, #lihatBarang th {
    border: 1px solid #cffdf2;
    padding: 8px;
    text-align: left;
  }
  
#lihatBarang tr:nth-child(even){
    background-color: #302b72;
}
  
#lihatBarang tr:hover {
    background-color: #add7dc;
    color: black;
}
  
#lihatBarang th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background: linear-gradient(270deg, #032f42, #70649e);
    background-size: 400% 400%;
    animation: gradientAnimation 8s ease infinite;
    color: white;
}

#lihatBarang tr{
    color: white;
    text-decoration: none;
}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #2f4c85;
    color: white;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .slideshow-container {
    position: relative;
    width: 50%;
    height: 50%;
    margin: auto;
}

.slide {
    display: none;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 20px;
}


.active {
    background-color: #717171;
}

.fotoSlide{
    width: 100%;
    height: 100%;
    object-fit: fill;
}